* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  background: #f9f9f9;
}

header {
  background: black;
  color: white;
  padding: 20px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}



.hero {
  text-align: center;
  padding: 3rem 4rem;
  min-height: 30vh;
  background: #eee;
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background: #e68900;
}

.about,
.projects,
.contact {
  padding: 3rem 2rem;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
}

.project-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}